<div class="terms-container">
    <div class="logo-and-header">
        <h1 class="header-text">Our Due Diligence Charter</h1>
    </div>

    <div class="md-content" (swipeleft)="swipe(selectedIndex, $event.type , 'introduction')"
        (swiperight)="swipe(selectedIndex, $event.type , 'introduction')">
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectChange()">
            <ng-container *ngFor="let tab of tabs">
                <mat-tab [label]="tab.title" (swipeleft)="swipe(tab.id, $event.type , tab.value)"
                    (swiperight)="swipe(tab.id, $event.type , tab.value)">
                    <div class="content">
                        <br>
                        <br>
                        <div id="introduction" class="introduction">
                            <h2>Introduction</h2>
                            <p>Our Deal Page contains the core proposition, information about the issuer’s business and
                                important disclosure documents. All investors must read our deal page carefully as it
                                outlines important information on the business, its value proposition and terms of
                                investment offering.</p>
                            <p>You must also consider your own personal investment requirements and consider making
                                further due diligence. Please reach out to us should you have any further questions
                                regarding the ongoing campaign and/or investment proposition.</p>
                            <p>Ata Plus Sdn Bhd is an Equity Crowdfunding platform and is a registered Recognised Market
                                Operator (RMO) with the Securities Commission Malaysia (SC) that approves ECF campaigns
                                in accordance with the requirements of the SC RMO Guidelines and the Capital Market
                                Services Act related laws and regulations and SC Guidelines. Ata Plus is not an adviser
                                and does not make a recommendation on the investment proposition on the platform and
                                does not tailor due diligence to individual requirements.</p>
                            <p>Investors should be aware that Ata Plus relies upon the information provided by the
                                issuer, who are required and responsible to ensure all the information provided is true
                                and correct. Ata Plus also uses third parties service providers and tools to conduct due
                                diligence. Ata Plus’ investor terms and conditions, including Ata Plus’ limitation of
                                liability, apply to investments made on the site and can be found here.</p>
                        </div>
                        <div id="verification_of_information" class="verification_of_information">
                            <h2>Verification of Information</h2>
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Valuation</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus may provide inputs and guidance to the Issuer, but the decision on
                                            what
                                            valuation to offer is totally at the Issuer’s discretion. Typically, the
                                            issuer
                                            would have to provide the basis on how the valuation is derived.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Factual Claims</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus ensures that all statements in Deal Page, Company Updates posted on
                                            Deal Page are accurate. This verification process involves obtaining and
                                            reviewing
                                            supporting documentation or independent evidence where applicable. Examples
                                            of supporting
                                            documentation are contracts, leases, licenses, certification,
                                            achievements/recognition/awards received, academic certificates, patents and
                                            the
                                            like.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Aspirational Statements and Forward looking Statement, including stated use
                                            of
                                            funds</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus verifies and ensures the alignment between the business plan and the
                                            financial projections. This includes assessing the assumptions used for
                                            future projects,
                                            plans, and intended use of funds to match the business targets.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Tax Relief</p>
                                    </td>
                                    <td>
                                        <p>With reference to email sent by Zue, Ata Plus will ensure accurate investor
                                            information is provided to the SC for verification. Once Ata Plus receives
                                            the verification
                                            from SC, Ata Plus will then forward the information to verified investors.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Rewards</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus will assess if the rewards offered to investors as a value added
                                            benefit in the investment offer are reasonable and feasible.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="financial_information" class="financial_information">
                            <h3>Financial Information</h3>
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Historical Financial</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus will assess Audited Financial Statements and verify with the company
                                            and/or third party service providers where required. Submission of the
                                            latest Audited
                                            Financial Statement is compulsory under Section 13.24(e) under the RMO
                                            Guidelines.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="due_diligence_charter" class="due_diligence_charter"></div>
                        <div id="risks" class="risks">
                            <h3>Risks</h3>
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Risk Disclosure</p>
                                    </td>
                                    <td>
                                        <p>Where it warrants key risk information needs to be highlighted, this
                                            information
                                            is prominently featured at the top of the Campaign Page.</p>
                                    </td>
                            </table>
                        </div>
                        <div id="legal" class="legal">
                            <h3>Legal</h3>
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Corporate</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus will review the corporate structure of the Company. This assessment
                                            encompasses the composition of shareholders, group organization and
                                            subsidiaries. Ata Plus will scrutinize constitutional documents such as
                                            articles of association and any shareholders' agreements, with a specific
                                            focus on examining the ECF investors, protection.</p>
                                        <p>In instances where there are different share classes with different rights,
                                            we will provide disclosure along with details of how these differing rights
                                            might affect the ECF investor/shareholder.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Litigation</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus conducts inquiries regarding any litigation or disputes involving
                                            the
                                            Issuer and conducts searches to verify any court judgments against the
                                            Issuer.
                                            Upon disclosure of potential litigation, Ata Plus will conduct further
                                            inquiries,
                                            particularly regarding the potential financial implications and the risk of
                                            the
                                            Issuer losing the litigation. Ata Plus will prominently feature details of
                                            such
                                            litigation at the top of the Campaign Page.
                                            However, if the Issuer is involved in material litigation that Ata Plus
                                            believes
                                            could significantly impact the business, Ata Plus will not proceed with
                                            listing a
                                            Campaign until the litigation is resolved.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="company_key_personnel" class="company_key_personnel">
                            <h3>The Company & Key Personnel</h3>
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Background Checks</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus will perform background checks on the company and its directors,
                                            which
                                            will include personal credit and bankruptcy checks, director's
                                            disqualification
                                            checks, previous company checks, and accreditation checks.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Key Personnel</p>
                                    </td>
                                    <td>
                                        <p>Ata Plus will ensure that there is a suitable level of full-time commitment,
                                            relevant experience and/or background related to the business from Key
                                            Personnel.</p>
                                        <p> Ata Plus will verify the information provided on the experience,
                                            qualifications
                                            and Honorary Titles received.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>