<div class="terms-container">
    <div class="logo-and-header">
        <img src="../../../../assets/images/AtaPlus-11.png" alt="Logo" class="logo" />
        <p class="header-text">To know is to make the right decision. We’ll be clear and straight up with you.</p>
    </div>

    <nav class="tabs">
        <div class="tab" [class.active]="selectedTab === 'terms'" (click)="selectTab('terms')">
            Terms of Use
        </div>
        <div class="tab" [class.active]="selectedTab === 'risk'" (click)="selectTab('risk')">
            Risk Warning
        </div>
        <div class="tab" [class.active]="selectedTab === 'guidelines'" (click)="selectTab('guidelines')">
            Guidelines & Eligibility
        </div>
        <div class="tab" [class.active]="selectedTab === 'privacy'" (click)="selectTab('privacy')">
            Privacy Policy
        </div>
    </nav>

    <div class="content">
        <div *ngIf="selectedTab === 'terms'">
            <h1>Term of Use</h1>
            <p> Current passwordKindly read these TERMS OF USE (the “Terms of Use”) carefully before accessing and using
                the services offered by Ata Plus Sdn Bhd (along with its subsidiaries and affiliated companies) (“ATA
                PLUS”).</p>
            <p>This page sets forth the legally binding Terms of Use for your use of the website at www.ata-plus.com
                (along with its subdomains and all other sites owned and operated by ATA PLUS which redirects to
                www.ata-plus.com) (the “ECF Platform”), and all services owned and provided by ATA PLUS arising from and
                / or in connection with the ECF Platform (the “Service”).</p>
            <p>By accessing, using and  / or relying on the ECF Platform or the Service in any manner, including but not
                limited to visiting, or browsing the ECF Platform, contributing content, information, or other materials
                thereto, you are deemed to be a user of the Platform (“User”) and to have read, understood and agreed to
                be bound by the Terms of Use, Risk Warning, Guidelines and Eligibility and Privacy Policy as stated on
                the ECF Platform, along with any ancillary statements, policies and / or documents arising therefrom.
            </p>
            <p>The Terms of Use may be updated from time to time without notice. If at any time you do not agree to
                these Terms of Use, please refrain from using the ECF Platform. If you continue to use the ECF Platform
                after any changes are made to these Terms of Use, you will be deemed to have agreed to those changes.
            </p>
            <p>ATA PLUS reserves the exclusive right to grant, limit, refuse, suspend and / or prohibit access to all or
                any part of the  Service and / or ECF Platform and to seek the appropriate legal remedies for any breach
                of the Terms of Use herein.</p>

            <h1> Summary of Service</h1>
            <p> ATA PLUS is the Recognized Market Operator of the ECF Platform registered by the Securities Commission
                of
                Malaysia pursuant to section 34 of the Capital Markets and Services Act 2007.  The ECF Platform allows
                Private Limited Companies / Limited Liability Partnerships (“Issuers”) to raise funds via the process of
                equity crowdfunding on the ECF Platform by offering its shares / equity for sale and subscription to the
                public.  Users who visit and use  the ECF Platform are able to participate in this process by amongst
                others, creating profiles, browsing, and / or investing in Issuers who have been listed on the ECF
                Platform.
                The ECF Platform also allows its users to interact, network, learn about, and connect with each other.
            </p>

            <p> The statements under the Risk Warning and Guidelines & Eligibility (as stated on the ECF Platform) are
                made
                in accordance with the Guidelines on Recognized Markets issued by the Securities Commission of Malaysia
                pursuant to section 377 of the CapitaI Markets and Services Act 2007 (“CMSA”). In that regard, the
                following
                classifications / terminologies apply to the Users of the ECF Platform where appropriate: </p>

            <h3> Sophisticated Investor:</h3>

            <p> Refers to High Net-Worth individuals, i.e. individuals with a total wealth or net personal assets
                exceeding
                RM 3 million or its equivalent in foreign currencies; OR</p>
             
            <p> High Net-Worth Entities (Companies / Corporations) i.e. a corporation with total net assets exceeding RM
                10
                million or its equivalent in foreign currencies based on its last audited accounts.</p>

            <h3> Angel Investor:</h3>

            <p> Refers to a tax resident in Malaysia whose total net personal assets exceed RM3 million or gross total
                annual income is not less than RM180,000 or jointly with his or her spouse, has a gross total annual
                income
                exceeding RM250,000.</p>

            <h3> Retail Investor:</h3>

            <p> Refers to investors that do not fall under the categories of either Sophisticated Investor or Angel
                Investor.</p>

            <h3> Issuer/Entrepreneur:</h3>

            <p> A user hosted on ATA PLUS equity crowdfunding platofrm ("Site") to offer its shares on the platform
                (referred to as 'Entrepreneur' on the platform)</p>
             
            <p> ATA PLUS is a platform that permits Issuers to offer and sell shares in their Company directly or
                indirectly
                (as a “Registered Recognised Market Operator” by Security Commission Malaysia) which may be accessed at
                www.ata-plus.com</p>
            <h1> Disclaimer</h1>
            <p> By accessing, using and / or relying on the ECF Platform or the Service, the User understands and agrees
                that:</p>

            <p> The ECF Platform is operated on an “as is” and “as available” basis. ATA PLUS makes no warranty or
                representation that the ECF Platform or Service will meet the User’s requirements, that it will be of
                satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights
                of
                third parties, that it will be compatible with all systems, that it will be secure or that all
                information
                provided will be accurate.</p>

            <p> ATA PLUS makes no guarantee of any particular outcome from the User’s access, use and / or reliance on
                the
                ECF Platform or Service.</p>

            <p> No part of theECF Platform or Service shall constitute or be construed as advice on any legal,
                investment or
                financial matters and ATA PLUS is under no circumstances a party or responsible for any agreements,
                settlements and / or arrangements entered into between the Users as between themselves or any third
                parties.</p>

            <p> ATA PLUS does not negotiate terms for and on behalf of the Users or third parties.</p>

            <p> ATA PLUS does not compensate its employees, agents or other persons affiliated with ATA PLUS for any
                solicitation, referral or sale of shares on the ECF Platform.</p>

            <p> The User’s access, use and / or reliance on the ECF Platform or the Service is voluntary and made at the
                User’s own risk. The User shall bear full responsibility to  seek the appropriate independent legal and
                / or
                financial advice and conduct their own independent due diligence on any matters arising from or in
                connection with the ECF Platform or Service as the User may require. </p>

            <p> ATA PLUS provides no warranty or guarantee that the ECF Platform is free of viruses, malicious computer
                code
                or other forms of interference that may damage the User’s computer or any other devices, or that access
                to
                the ECF Platform will be uninterrupted, timely or secure.</p>
            <h1> Eligibility To Use The Services</h1>
            <p> Users under 18 years of age are not eligible to use the Service without the consent and supervision from
                a
                parent or legal guardian who is at least 18 years old and who shall be similarly bound by these Terms of
                Use
                and responsible for the Users’ access, use and / or reliance on the ECF Platform or Service. Users who
                have
                been suspended by ATA PLUS from accessing and using the ECF Platform shall no longer be eligible to use
                or
                receive the Service.</p>
             
            <p> For the avoidance of doubt, ATA PLUS as the operator of the ECF Platform and provider of the Service
                retains
                the exclusive right to limit, restrict and / or prohibit the User’s access and / or use of the ECF
                Platform
                or Service (whether wholly or partly) at any time as it deems necessary or appropriate, and with or
                without
                prior notice to the User.</p>


            <h1> User Accounts</h1>
            <p> All information provided by the User to ATA PLUS in connection with a User’s account / profile in
                respect of
                the ECF Platform and the Service is required to be accurate, complete and truthful. The User shall be
                fully
                responsible for monitoring all activity in respect of its User account / profile and notifying ATA PLUS
                immediately if their User account / profile has been used without their authorisation, if there is any
                breach of security and / or if there is any false, misleading, incomplete and / or inaccurate
                information in
                respect of the same. The User also agrees to provide any additional information and / or documentation
                as
                required by ATA PLUS to verify the User’s identity and to otherwise perform ATA PLUS’ role and
                responsibilities as the operator of the ECF Platform and provider of the Service.</p>


            <h1> Objectionable Material</h1>
            <p> The User understands that by accessing, using and / or relying on the ECF Platform or Service, the User
                may
                encounter material or content that the User may find offensive, indecent, objectionable or explicit.
                Nevertheless, the User agrees that any access,  use and / or reliance on the ECF Platform or Service is
                at
                the User’s own risk and discretion and that the User shall not hold ATA PLUS liable in respect of the
                same.</p>
            <h1> Ownership</h1>
            <p> All content and material published on the Platform shall be deemed to be owned by ATA PLUS and subject
                to
                protection by Malaysian intellectual property laws and rights applicable to the ATA PLUS in respect of
                the
                same.</p>
            <h1> Indemnity</h1>
            <p> The User shall indemnify and hold harmless ATA PLUS and its directors, employees, affiliates,
                representatives and agents from all claims, losses, damages, liabilities, costs, expenses and / or harm
                incurred by the User or any third party arising from or in connection with the User’s access, use and /
                or
                reliance on the ECF Platform or Service. ATA PLUS reserves the right to adopt the exclusive defense and
                control over any matter in that regard and the User shall assist and cooperate with ATA PLUS in any
                defense
                and / or settlement in respect of the same.</p>
            <h1> Governing Law</h1>
            <p> The User agrees that the Service shall be deemed to be based in Malaysia and shall be governed by the
                laws
                of Malaysia.</p>
            <h1> Miscellaneous</h1>
            <p> The Users acknowledge and agree that the Terms of Use, Risk Warning, Guidelines and Eligibility and
                Privacy
                Policy herein contained on the ECF Platform governs the User’s access, use and / or reliance on the ECF
                Platform or the Service. If at any time any provision herein is held to be illegal, void, voidable and /
                or
                unenforceable, that provision shall be read down to the extent necessary to ensure that the same is not
                so
                illegal, invalid, void, voidable and / or unenforceable and / or is to be severable without affecting
                the
                validity or enforceability of the remaining provisions. ATA PLUS reserves the right to take any steps
                which
                ATA PLUS deems necessary or appropriate to enforce and / or verify compliance with the provisions
                herein.
                ATA PLUS’ failure to enforce any rights or provisions in the Terms of Use and Privacy Policy herein
                shall
                not constitute or be construed as a waiver of the same.</p>
            <h1> Notice</h1>
            <p> Any communication / notification from ATA PLUS to the Users arising from or in connection with the ECF
                Platform or Service shall be effective upon delivery by hand, email and / or registered post or by any
                other
                means which the User has by its conduct accepted or acknowledged to be appropriate.</p>
             
            <p> Any communication / notification from the User to ATA PLUS arising or in connection with the ECF
                Platform or
                the Service shall be effective upon receipt by ATA PLUS by hand, email and / or registered post at the
                following addresses:
            <ul>
                <li> Reference : Ata Plus Sdn Bhd</li>
                <li> Address : B-23A-3A, G Vestor Tower, Pavilion Embassy, 200 Jalan Ampang, 50450 Kuala Lumpur,
                    Malaysia.</li>
                <li> Email :    info@ata-plus.com</li>
            </ul>


        </div>
        <div *ngIf="selectedTab === 'risk'">
            <h1>Risk Warning</h1>
            <p>Content for Risk Warning goes here.</p>
        </div>
        <div *ngIf="selectedTab === 'guidelines'">
            <h1>Guidelines & Eligibility</h1>
            <p>Content for Guidelines & Eligibility goes here.</p>
        </div>
        <div *ngIf="selectedTab === 'privacy'">
            <h1>Privacy Policy</h1>
            <p>Content for Privacy Policy goes here.</p>
        </div>
    </div>
</div>