.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%; // Adjusted for more flexible width on smaller screens
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 1024px) {
        max-width: 800px; // Set max-width for larger screens
    }
}

.content {
    padding: 1rem;
    width: 100%; // Use full width within container
    max-width: 800px;
    margin: 0 auto;

    .responsive-title {
        font-size: 2.5rem;
        margin: 0 0 10px;
        text-align: center;
    }

    .responsive-description {
        font-size: 1.2rem;
        margin: 0 0 20px;
        text-align: center;
    }

    @media (max-width: 768px) {
        .responsive-title {
            font-size: 2rem;
        }

        .responsive-description {
            font-size: 1rem;
        }
    }

    @media (max-width: 480px) {
        .responsive-title {
            font-size: 1.5rem;
        }

        .responsive-description {
            font-size: 0.9rem;
        }
    }
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center; // Center align items across screen sizes
    overflow-x: auto;

    .bar {
        background-color: #2A245B;
        opacity: 0.9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        display: inline-block;
        min-width: 150px; // Set min width for readability
        max-width: 100%; // Scale with container

        &:hover {
            background-color: #466977;
            transform: scale(1.05);
        }

        .bar-label {
            font-weight: bold;
            color: white;
            text-align: center; // Center-align text within each tile
        }
    }

    @media (min-width: 768px) {
        .bar {
            flex: 1 1 calc(50% - 20px); // 2 bars per row on medium screens
        }
    }

    @media (min-width: 1024px) {
        .bar {
            flex: 1 1 calc(25% - 20px); // 4 bars per row on large screens
        }
    }
}