<div class="carousel-container">
  <div class="carousel" [style.transform]="'translateX(' + translateX + '%)'" (mousedown)="onDragStart($event)"
    (mousemove)="onDragMove($event)" (mouseup)="onDragEnd()" (mouseleave)="onDragEnd()">
    <div class="carousel-item" *ngFor="let item of items">
      <img [src]="item.url" alt="Carousel Image" />
      <div style=" font-family: Avenir-bold !important;  color: #2A245B;font-size: 25px;padding-top: 15px;    ">
        {{item.title}}</div>
      <span style="font-style: italic;color: #2A245B">{{item.subtitle}}</span>
      <br>
      <br>
      <span style=" font-family: Avenir-bold !important;  color: #2A245B;font-size: 15px;margin-bottom: 10px;">Min
        Target:
        RM{{item.min}}</span><br>
      <span style=" font-family: Avenir-regular !important;  color: #2A245B;">Raised: RM{{item.raised}}</span><br />
      <img src="../../../../../assets/images/loading.png">
      <p style="color: #2A245B">{{item.descption}}</p>
      <button style="background-color: #2A245B;color: white;" class="btn">Explore</button>
    </div>
  </div>
  <!-- <button class="nav left" (click)="prev()">‹</button>
  <button class="nav right" (click)="next()">›</button> -->
  <img src="../../../../../assets/images/left.png" class="nav left" alt="Previous" (click)="prev()" />
  <img src="../../../../../assets/images/right.png" class="nav right" alt="Next" (click)="next()" />
</div>