.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  cursor: grab;
}

.carousel:active {
  cursor: grabbing;
}

.carousel-item {
  flex: 1 0 33.33%;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}

.carousel-item img {
  height: auto;
}

.carousel-item .content {
  margin-top: 8px;
  font-size: 14px;
}

.icon1 {
  width: 38%;

}

.icon2 {
  width: 60%;

}

.icon3 {
  width: 72%;

}

.nav {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); */
  /* color: white; */
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  /* border-radius: 50%; */
}

.nav.left {
  left: 10px;
  width: 3%;
}

.nav.right {
  right: 10px;
  width: 3%;
}