.menus {
  display: none;
}

.img {
  text-align: end;
}

img {
  width: 30%;

  &:hover {
    cursor: pointer;
  }
}

#open {
  display: none;
}

#close {
  display: none;
}

nav {
  display: none; // Hide by default

  &.active {
    display: block; // Show when active
  }

  a {
    text-decoration: none; // Remove underline
    color: inherit; // Inherit color from parent
    padding: 6px; // Add some padding
    font-size: 1rem !important;

    &.links {
      background-color: #2A245B;
      color: white;
    }
  }

  a {
    text-decoration: none;
    margin-inline: 1rem;
    font-weight: bold;
    // padding: 10px 17px;
    font-size: 1rem;
    position: relative;
    color: white;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      left: 0;
      top: 2rem;
      height: 0.2rem;
      background-image: linear-gradient(to right, #E3007F, #5E0035);
      transition: 0.5s;
    }

    &:hover {
      color: #2A245B;

      &::before {
        width: 100%;
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1) {
  button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #open {
    display: block;
  }

  nav {
    width: calc(100% - 5rem);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 1s;
    opacity: 0;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;

    a {
      display: block;
      margin-block: 1rem;
      margin-inline: 0;
      text-align: center;
    }
  }
}

.user-info {
  position: relative; // Required for positioning the logout button
  display: inline-flex; // Use inline-flex to align items
  align-items: center; // Vertically center the items

  .email {
    margin-right: 10px; // Space between email and logout button
    cursor: pointer; // Pointer cursor
  }

  .logout {
    display: none; // Hide by default
    position: absolute; // Position relative to the user-info
    top: 100%; // Position below the email
    left: 0; // Align with the email
    background-color: #f00; // Background color
    color: #fff; // Text color
    border: none; // Remove border
    padding: 5px 10px; // Padding
    cursor: pointer; // Pointer cursor
    transition: opacity 0.3s ease; // Smooth transition
    z-index: 10; // Ensure it's above other content

    &:hover {
      background-color: darken(#f00, 10%); // Darken on hover
    }
  }

  &:hover .logout {
    display: block; // Show logout button on hover
  }
}

@media (min-width: 768px) {
  nav {
    display: flex; // Display as a flexbox for larger screens
  }

  .menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  nav a {
    padding: 10px 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex; // Display as a flexbox for larger screens
  }

  .menu {
    display: none;
  }

  nav a {
    font-size: 14px !important;
  }

  .menuhome {
    display: none;
  }
}