<img #menu style="width: 25px;" id="open" (click)="showMenu()" src="../../../../assets/images/main-menu.png" alt="Menu">
<img #close style="width: 25px;" id="close" (click)="closeMenu()" src="../../../../assets/images/x-button.png"
  alt="Close Menu">

<nav #nav>
  <a [ngStyle]="{ 'color': isLanding ? 'white' : 'black' }" routerLink="/whyata" fragment="hero"
    (click)="onNavItemClick()">Why Ata Plus</a>
  <a [ngStyle]="{ 'color': isLanding ? 'white' : 'black' }" routerLink="" fragment="reason"
    (click)="onNavItemClick()">What is ECP</a>
  <a [ngStyle]="{ 'color': isLanding ? 'white' : 'black' }" routerLink="/aboutecf" fragment="articles"
    (click)="onNavItemClick()">Success Stories</a>
  <a *ngIf="isLoggedIn" routerLink="/home" class="links" (click)="onNavItemClick()">MY ACCOUNT</a>
  <a *ngIf="!isLoggedIn" routerLink="/login" class="links" (click)="onNavItemClick()">LOG IN</a>
  <a *ngIf="!isLoggedIn" routerLink="/signup" class="links" (click)="onNavItemClick()">SIGN UP</a>
  <a *ngIf="isLoggedIn" (click)="logout(); onNavItemClick()" href="#" class="links">LOG OUT</a>
</nav>

<a class="img" routerLink="/">
  <img src="../../assets/images/footer_logo.png" alt="Logo">
</a>