.content {
  min-width: 60%;
  display: flex;

  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10vw;

    &-social {
      display: flex;
      justify-content: space-between;

      svg {
        cursor: pointer;

        path {
          transition: 0.3s;
        }

        &:hover {
          fill: green;
        }
      }
    }
  }

  nav {
    display: flex;

    div {
      margin-right: 6vw;
      line-height: 5px;

      a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 1.5rem;
        transition: 0.3s;

        &:hover {
          color: #E3007F;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.copyrights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  p {
    margin-bottom: 0;
    color: var(--grayish-blue);
  }
}

#challenger {
  position: absolute;
  bottom: 0;
  right: 10rem;
  color: var(--grayish-blue);
}

@media screen and (max-aspect-ratio: 1) {
  .content {
    text-align: center;
    min-width: unset;
    display: unset;

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;

      &-social {
        margin-block: 2rem;

        svg {
          margin-inline: 0.5rem;
        }
      }
    }

    nav {
      display: unset;

      div {
        margin-right: 0;

        &:first-child {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .copyrights {
    align-items: center;
    margin-top: 2rem;
  }

  #challenger {
    width: 100%;
    right: unset;
    left: 0;
    text-align: center;
    font-size: 0.8rem;
  }
}

.text {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
}


.footer-new{
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-new{
  max-width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-flex{
  display: flex;
  justify-content: space-between;
}
.footer-flex .col-1{
  width: 40%;
}
.footer-flex .col-1 img{
  height: 80px;
}
.footer-flex .col-1 ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.footer-flex .col-1 p{
  margin-top: 0;
}
.footer-flex .col-1 ul li{
  margin-bottom: 3px;
}
.footer-flex .col-1 ul li a{
  color: #4F4E58;
}
.footer-flex .col-1 .social-icon{
  margin-top: 15px;
}

.footer-flex .col-1 .social-icon li{
  display: inline;
  margin-right: 2px;
}
.footer-flex .col-1 .social-icon li a img{
  height: 25px;
}

.footer-flex .col-1 h4{
  margin-bottom: 5px;
  font-size: 18px;
}
.footer-flex .text-sm{
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 0;
}
.footer-flex .footer-menu{
  margin-top: 60px;
}
.footer-flex .footer-menu h4{
  font-size: 24px;
  margin-bottom: 50px;
}

.footer-flex .footer-menu ul{

  list-style-type: none;
  padding-left: 0;

}
.footer-flex .footer-menu ul li{
  margin-bottom: 10px;
}

.footer-flex .footer-menu ul li a{
  text-decoration: none;
  color: #4F4E58;
  font-weight: 600;
  font-size: 16px;
}


@media only screen and (max-width:767px){
  .footer-flex{
    flex-direction: column;
  }
  .footer-flex .col-1{
    width:100%;
    }
    
    
    .footer-flex .footer-menu{
    
        margin-top: 0;
    
    }
    
    
    .footer-flex .footer-menu h4{
    
        margin-bottom: 10px;
        margin-top: 15px;
    
    }
}


@media (min-width:768px) and (max-width:991px){
  
.footer-flex .col-1{
  width: 32%;
}

.footer-flex .footer-menu ul li a{

  font-size: 16px;
}
}