<section class="content">
  <div class="icons">
    <img style="width: 33%;" src="../../assets/images/logo2.png" alt="Logo">
    <h4 style="color: white;">Ataplus AI Reporting Sdn, Bhd.</h4>
  </div>
  <nav class="footer-nav">
    <div>
      <a *ngFor="let item of nav" href="">{{item}}</a>
    </div>
    <div>
      <a *ngFor="let item2 of nav2" href="">{{item2}}</a>
    </div>
    <div>
      <input type="text" id="" class="text" placeholder="Email" name="answer" />
      <input type="text" id="" class="text" placeholder="Phone Number" name="answer2" />
    </div>
  </nav>
</section>