.header,
.header2 {
  padding-block: 20px;
  padding-inline: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  &.header2 {
    background-color: white;
  }
}

.alert {
  background-color: black;
  color: white;
  padding: 8px 10% 8px 10%;
  font-size: 10px;
  text-align: center;
}

// footer,
// subfooter {
//   position: relative;
//   padding-block: 2rem;
//   padding-inline: 10rem;
//   background-color: white;
//   display: flex;
//   justify-content: space-between;
//   opacity: 1;
//   transition: 0s;
// }


@media screen and (min-aspect-ratio: 1) and (max-width: 1024px) {

  header {
    padding-block: 0px !important;
    padding-inline: 0rem !important;
  }

  nav a {
    padding: 10px 16px !important;
  }

  #hero {
    margin-top: -65px !important;
  }

}

@media screen and (max-aspect-ratio: 1) {

  .header,
  .header2 {
    padding-inline: 2rem;
  }


}

@media screen and (max-width: 767px) {

  .header,
  .header2 {
    padding-inline: 1.5rem;
  }
}



@media (min-width:768px) and (max-width:991px) {

  nav a {
    padding: 10px 16px !important;
  }

}