.footer-top{
  background-image: url('../../../../assets/images/curve-bg.png');
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  padding-bottom: 50px;
  padding-top: 100px;
  width: 100%;
  margin-top: -100px;
  color: #fff;
}

.container-new{
  max-width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-top p{
  max-width: 90%;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
}
.footer-top  h2{
  font-size: 30px;
  font-family: 'Avenir-bold' !important;
}

.footer-top a.btn{
  background: #fff;
  color: #000;
  font-weight: 600;
  padding: 14px 24px;
  font-size: 16px;
}
.footer-top .btn-right{
  text-align: right;
  margin-bottom: 50px;
}

@media only screen and (max-width:767px){

.footer-top .btn-right{
    text-align: left;
}

.footer-top a.btn{
    padding: 14px 20px;
    font-size: 14px;

}

.footer-top p{
    font-size: 16px;
    line-height: 23px;
}
.footer-top{
  margin-top: -150px;
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
}


@media (min-width:768px) and (max-width:991px){

  .footer-top{
    margin-top: -60px;
   }
   
}

@media (min-width:992px) and (max-width:1199px){
  .footer-top{
    margin-top: -50px;
  }
}