<section class="content footer-top">
  <div class="container-new">

  <h2>Risk Warning</h2>
  <p>
    Investing in new companies has risks. You might find it hard to quickly turn your investment into cash, with no regular dividends, a chance of losing what you put in, and your ownership getting smaller. If you're going for this, mix it up with other investments. Ata Plus is for folks who understand these risks and can make their own choices. Check out the full Risk Warning for a complete picture of these risks.
  </p>
  <div class="btn-right">

  <a class="btn">Learn More about ECF</a>

</div>


  <h2>Tax Incentive for Investor</h2>
  <p>The investment made through ECF by qualifying investors on or after 1 January 2021 but not  later than 31 December 2026 is eligible for tax exemption.  
  </p>
  <div class="btn-right">
    <a class="btn">Learn about Tax Incentive</a></div>

</div>
</section>