<section class="hero" id="hero">
   <div class="container-new">
      <div class="banner-flex">
         <div class="banner-flex-left">
            <h1>A Regulated Equity Crowdfunding Platform in <span> Malaysia</span>
            </h1>
            <p> connecting businesses seeking growth with investors </p>
         </div>
         <!-- banner-flex-left -->
         <div class="banner-flex-right">
            <!-- <img src="../../assets/images/header-img.png" alt="Hero Image"> -->
         </div>
         <!-- banner-flex-right -->
      </div>
      <!-- banner-flex -->
   </div>
   <!-- container -->
</section>
<!-- <div class="section"> -->
<section id="articles" class="article-section">
   <div class="container-new">
      <div class="container-three">
         <h2>Homegrown</h2>
         <p>We are proudly Malaysian, reflecting our country's entrepreneurship. Asa local equity crowdfunding
            platform, we're all about supporting homegrown businesses, driving inclusivity and innovation in our
            communities. </p>
         <div class="centerimg">
            <img src="../../../../assets/images/30.png">
         </div>
      </div>
      <div class="container-two">
         <h2>Mobilize Capital </h2>
         <p>We connect high We empower entrepreneurs to transform their visions into reality by raising
            funds. and in join meaningful potential projects and investors to drive value creation.</p>
         <div class="centerimg">
            <img src="../../../../assets/images/mobilize Capital.png">
         </div>
      </div>
      <div class="container-one">
         <h2>Investing with Peace of Mind </h2>
         <p>Our user-friendly platform presents exciting investment prospects that have undergone x thorough due
            diligence process, ensuring you can invest confidently. Our due diligence covers Business P,
            Operations,
            Financial and Legal aspects.
         </p>
         <div class="centerimg">
            <img src="../../../../assets/images/25.png">
         </div>
      </div>


      <!-- <div class="article-two">
         <h2>Mobilize Capital </h2>
         <div class="article-two-flex">
            <div class="right">
               <img src="../../../../assets/images/mobilize Capital.png">
            </div>
            <div class="left">
               <p>We connect high We empower entrepreneurs to transform their visions into reality by raising
                  funds. and in join meaningful potential projects and investors to drive value creation.</p>
            </div>
         </div> 
      </div>
      <div style="clear: both;"></div>
      <div class="article-one">
         <h2>Investing with Peace of Mind </h2>
         <div class="article-one-flex">
            <div class="left" style="width: 70%;">
               <p>Our user-friendly platform presents exciting investment prospects that have undergone x thorough due
                  diligence process, ensuring you can invest confidently. Our due diligence covers Business P,
                  Operations,
                  Financial and Legal aspects.
               </p>
            </div>
            <div class="right">
               <img src="../../../../assets/images/Investing with PoM.png">
            </div>
         </div>
      </div> -->
   </div>
</section>
<div class="record-section">
   <div class="container-new">
      <div class="whatwe">
         <img src="../../../../assets/images/whatwe.png">
      </div>
      <div class="downarr">
         <img src="../../../../assets/images/downarrow.png">
      </div>
      <div class="card">
         <p>We use technology to enhance transparency and uphold good governance in investments.</p>
         <p>Be your trusted partner in facilitating seamless collaboration between business owners and investors.</p>
         <p>We take pride in conducting thorough due diligence to safeguard the interests of both parties.</p>
         <p>Our mission is to revolutionize funding by providing equal opportunities for everyone, regardless of
            experience, to participate in funding opportunities.</p>
         <p>Our commitment to transparency and good governance ensures a secure environment for businesses seeking
            growth and investors looking to contribute to innovative ventures.</p>
         <p>Ata Plus is dedicated to financial inclusivity, envisioning a future where investment is open to all.</p>
         <p>Our commitment to democratizing wealth and directing capital toward productive outcomes positions us as a
            driving force in Malaysia's financial landscape.</p>
         <div class="banner-button">
            <a class="btn" href="">Raise Fund With Ata Plus</a>
            <a class="btn" href="">Be An Investor at Ata Plus</a>
         </div>
      </div>
   </div>
</div>
<section id="entrepreneurs" class="article-section">
   <div class="container-new">
      <h2>What Entrepreneurs Say About Us</h2>
      <div class="right">
         <img class="img" src="../../../../assets/images/img40.png">
      </div>
      <div class="left">
         <img class="img" src="../../../../assets/images/img41.png">
      </div>
   </div>
   <br>
   <br>
   <br>
   <br>
</section>
<section id="reason" class="reason-section">
   <div class="container-new">
      <h2>Our Insights</h2>
      <br>
      <div class="webcrowsel" style="width: 100%; margin: 0 auto;">
         <web-carousel [items]="slides"></web-carousel>
      </div>
      <div class="mobilecrowsel" style="width: 100%; margin: 0 auto;text-align: center;">
         <mobile-carousel [slides]="slides" (currentIndexChanged)="onSlideChange($event)">
            <div [innerHTML]="obj().title"
               style="font-family: Avenir-bold !important; color: #2A245B; font-size: 25px; padding-bottom: 20px;">
            </div>
            <div class="slide-container">
               <div class="slide {{obj().class}}" [ngStyle]="{ 'background-image': getCurrentSlideUrl(currentIndex) }">
               </div>
            </div>
            <p class="description">{{obj().descption}}</p>
         </mobile-carousel>
      </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
</section>

<!-- record-section -->