$dark-blue: #2A245B;
$cross-color: #2A245B;
$line-height: 2px;
$line-length: 120%;

h2 {
    font-family: 'Avenir-bold' !important;
    color: $dark-blue;
    font-weight: 700;
    font-size: 43px;
}

.header,
.header2 {
    padding-block: 20px;
    padding-inline: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    &.header2 {
        background-color: white;
    }
}

#hero {
    background-image: url('../../../../assets/images/ataplusDesktop.png');
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
    margin-top: -92px;
    padding-bottom: 150px;
    padding-top: 50px;
}

.webcrowsel {
    display: block;
}

.mobilecrowsel {
    display: none;
}

.article-section {
    .right {
        text-align: right;

        .img {
            width: 50%;
        }
    }

    .left {
        text-align: left;

        .img {
            width: 50%;
        }
    }
}

.banner-button {
    padding-left: 15px;
}

.banner-button .btn {
    display: block;
    margin-bottom: 8px;
    width: 100px;
}

@media screen and (max-width: 767px) {
    #hero {
        background-image: url('../../../../assets/images/26.png');

        .content {
            padding-block: 3rem;
            padding-inline: 1.5rem;

            h1 {
                font-size: 2rem;
            }
        }

        .images {
            min-height: 50vh;

            img {
                width: calc(100% - 1.5rem);
            }
        }
    }

    .webcrowsel {
        display: none;
    }

    .mobilecrowsel {
        display: block;
    }

    .downarr {
        position: absolute;
        left: 269px;
        top: 126px;
    }
}

.price-container {
    position: relative;
    display: inline-block; // Allows positioning of the pseudo-element

    .price {
        font-size: 43px;
        font-weight: bold;
        font-family: 'Avenir-Regular' !important;
        color: $dark-blue;
        position: relative; // Position relative for the pseudo-element
        z-index: 2; // Ensure the text appears above the line

        &::after {
            content: ''; // Empty content for the line
            position: absolute;
            top: 50%; // Center vertically
            left: 50%; // Start from the center horizontally
            width: $line-length; // Set the width to increase the line length
            height: $line-height; // Thickness of the line
            background-color: $cross-color; // Color of the crossing line
            transform: rotate(349deg); // Rotate the line to 135 degrees
            transform-origin: center; // Rotate around its center
            z-index: 1; // Make sure the line appears below the text
            margin-left: -50%; // Center the line by moving left by half its width
        }
    }
}

.container-new {
    max-width: 1170px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;

    .card {
        background-color: #2a245b;
        border-radius: 24px;
        width: 50%;
        padding: 53px;
    }

    .downarr {
        position: absolute;
        left: 269px;
        top: 159px;
    }
}

.banner-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.banner-flex .banner-flex-left {
    width: 90%;
}

.banner-flex .banner-flex-left h1 {
    font-size: 70px;
    line-height: 70px;
    color: #2a245b;
    text-align: left;
    margin-bottom: 15px;
}

.banner-flex .banner-flex-left h1 span {
    color: #fff;
    position: relative;
}

.banner-flex .banner-flex-left h1 span::before {
    content: '';
    position: absolute;
    // background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 312px;
    height: 22px;
    bottom: -10px;
    left: -211px;
    background-size: cover;
}

.banner-flex .banner-flex-left p {
    color: #000;
    font-size: 26px;
    text-align: left;
}

.banner-flex .banner-flex-left .banner-button a {
    margin-right: 15px;
    text-decoration: none;
    color: #2a245b;
    font-weight: bold;
    font-size: 17px;
}

.banner-flex .banner-flex-right {
    width: 50%;
}

.banner-flex .banner-flex-right img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.reason-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.reason-section h2 {
    margin-bottom: 0;
}

.reason-section h2 span {
    font-family: "Avenir-bold" !important;
    position: relative;
}

.record-section h1 span::before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/27.png);
    background-repeat: no-repeat;
    width: 182px;
    height: 17px;
    bottom: 859px;
    left: 29px;
    background-size: cover;
}

.reason-section .slide {
    height: 250px !important;
}

.reason-section .button-image-container img {
    height: 30px;
    margin-left: 15px;
    position: absolute;
}

.reason-section .button-image-container {
    margin-bottom: 40px;
}

.article-section .container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
}

.container-two {
    width: 70%;
    margin-left: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.article-section h2 {
    margin-bottom: 0;
}

.container-three {
    width: 70%;
}

.article-one h2 {
    max-width: 70%;
}

.article-one .article-one-flex {
    display: flex;
    align-items: center;
    margin-top: -35px;
}

.article-two {
    width: 60%;
    float: right;
}

.article-two .article-two-flex {
    display: flex;
    align-items: center;
    //margin-top: -35px;
}

.article-section .container-two .right {
    margin-right: 15px;
}

.section-three {
    text-align: center;
}

.section-three .section-three-img {
    width: 50%;
}

.record-section {
    background: #FF00A9;
    color: #fff;
    padding: 70px 50px;
    text-align: center;
    margin-top: -4px;
}

.record-section img {
    height: 150px;
}

.record-section h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.record-section h2 {
    color: #fff;
    font-size: 44px;
    margin-top: 0;
}

.record-section .black-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 150px;
}

.section-four {
    padding-top: 50px;
    padding-bottom: 50px;

}

.section-four .section-four-flex {
    display: flex;
    justify-content: space-between;
}

.section-four .section-four-flex .four-flex-left {
    width: 50%;
}

.section-four .section-four-flex .four-flex-left h2 {
    padding-top: 20px;
}

.section-four .section-four-flex .four-flex-left p {
    line-height: 30px;
    font-weight: 600;
    line-height: 22px;
}

.section-four .section-four-flex .four-flex-left .ata-bg {
    position: relative;
}

.section-four .section-four-flex .four-flex-left .ata-bg:before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 22px;
    bottom: -15px;
    left: -19px;
    background-size: cover;
}



@media only screen and (max-width:767px) {
    .banner-flex {}

    .banner-flex .banner-flex-left {
        width: 100%;
    }

    .banner-flex .banner-flex-left h1 {
        padding-left: 15px;
    }

    .banner-flex .banner-flex-left p {
        margin-bottom: 15px;
        padding-left: 15px;
        line-height: 27px;
        text-align: left;
    }

    .banner-button {
        padding-left: 15px;
    }

    .banner-button .btn {
        display: block;
        margin-bottom: 15px;
        width: 175px;
        text-decoration: none;
    }

    .banner-flex .banner-flex-right {
        width: 100%;
    }

    .article-section .container {
        display: block;
        width: 100%;
    }

    .container-two {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .container-three {
        width: 100%;
    }

    .section-four .section-four-flex {
        display: block;
    }

    .section-four .section-four-flex .four-flex-left {
        width: 100%;
    }

    .section-four .section-four-flex .four-flex-left h2 {
        padding-top: 0;
    }

    .section-four .section-four-flex .four-flex-right {
        width: 100%;
    }

    .section-four .section-four-flex .four-flex-right img {
        width: 100%;
    }

    #hero {
        margin-top: -84px;
        padding-top: 0;
        display: block;
        height: 700px;
    }

    #hero .banner-flex .banner-flex-left h1 {
        font-size: 42px;
        line-height: 44px;
        text-align: left;
    }

    .banner-flex .banner-flex-left h1 span::before {
        width: 175px;
    }

    .article-section h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .section-three .section-three-img {
        width: 75%;
    }

    .record-section {
        padding: 60px 15px;

    }

    .record-section h1 {
        font-size: 41px;
        margin-left: 8px;
        margin-right: 139px;
    }

    .record-section h2 {
        font-size: 28px;
    }

    .record-section .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        text-align: -webkit-center;

        .card {
            background-color: #2a245b;
            border-radius: 24px;
            width: 84%;
            padding: 27px;
            text-align: left;
            margin-top: 26px;
        }

        .downarr {
            position: absolute;
            left: 269px;
            top: 159px;
        }
    }

    .reason-section .black-flex {
        column-gap: 15px;
    }

    .article-one h2 {
        max-width: 100%;
    }

    .article-one .article-one-flex {
        margin-top: 0;
    }

    .article-two {
        width: 100%;
    }

    .section-four .container-new {
        padding-left: 0;
        padding-right: 0;
    }

    .section-four .section-four-flex .four-flex-left h2 {
        padding-left: 15px;
    }

    .section-four .section-four-flex .four-flex-left p {
        padding-left: 15px;
        font-weight: 600;
        line-height: 22px;
    }

    .section-four .section-four-flex .four-flex-right img {
        position: relative;
        z-index: -99;
    }

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 0px;
    }

    .article-section {
        .right {
            text-align: right;

            .img {
                width: 100%;
            }
        }

        .left {
            text-align: left;

            .img {
                width: 100%;
            }
        }
    }

    .record-section:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #FF00A9 !important;
        height: 530px;
        width: 100%;
        /* max-width: 450px; */
        z-index: -99;
    }

    .record-section {
        position: relative;
        padding: 60px 0 !important;
        background: transparent;

    }

    .slide-container {
        margin-left: -33px;
        margin-right: -33px;
    }

    .slide {
        background-size: cover;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .banner-flex .banner-flex-left {
        width: 60%;
    }

    .banner-flex .banner-flex-right {
        width: 40%;
    }

    .banner-flex .banner-flex-left h1 {

        font-size: 60px;
        line-height: 65px;

    }

    .banner-flex .banner-flex-left h1 span:before {
        width: 250px;
    }

    .article-one {
        max-width: 95%;
    }

    .article-two {

        width: 80%;
    }

    .container-three {
        width: 95%;
    }

    #hero {
        margin-top: -79px;
    }

    .four-flex-right {
        width: 50%;
    }

    .four-flex-right img {
        width: 100%;
        margin-top: 100px;
    }

    .section-four {
        padding-top: 0;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #hero {
        margin-top: -83px;
    }
}

@media (min-width:390px) and (max-width:844px) {

    .article-section {
        .right {
            text-align: right;

            .img {
                width: 100%;
            }
        }

        .left {
            text-align: left;

            .img {
                width: 100%;
            }
        }
    }
}


@media (min-width:360px) and (max-width:740px) {
    .record-section h1 {
        font-size: 41px;
        margin-left: 8px;
        margin-right: 100px;
    }

    .record-section h1 span::before {}
}