.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container img {
  width: 20%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}

.modal-content .ok-button {
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  margin-top: 20px !important;
  width: 100px !important;
  background-image: none;
}