$dark-blue: #2A245B;
$cross-color: #2A245B;
$line-height: 2px;
$line-length: 120%;

.slide {
    background-size: cover;
    background-position: center;
}

h2 {
    font-family: 'Avenir-bold' !important;
    color: $dark-blue;
    font-weight: 700;
    font-size: 43px;
}

.pink-bg {
    font-size: 43px;
}

h3 {
    font-weight: bold;
    background-color: #E31997;
    color: white;
    padding: 7px;
}

.capital-display {
    color: white;
    background-color: #2A245B;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.capital-display span {
    font-family: "Avenir-bold" !important;
    font-size: 24px;
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
}

.capital-display .amount {
    font-family: "Avenir-bold" !important;
    font-size: 50px;
    font-weight: bold;
    margin: 0 10px;
}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 100px;
}

.stat-box span {
    font-size: 15px;
    vertical-align: super;
}

li {
    color: #2A245B;
    font-size: 15px;
}

.stat-box .number {
    font-size: 50px;
    color: #2A245B;
    font-weight: bold;
}

.stat-box .small {
    font-size: 20px;
}

.stat-box p {
    font-size: 15px;
    margin: 10px 0 0;
    color: #2A245B;
}

.header,
.header2 {
    padding-block: 20px;
    padding-inline: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    &.header2 {
        background-color: white;
    }
}

#hero {
    background-color: #E9E9FF;
    margin-top: -47px;
    padding-top: 50px;
}

.container-new {
    max-width: 85%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;

    img {
        width: 25%;
    }

    h1 {
        color: #2A245B;
    }

    h2 {
        width: 76%;
    }

    p {
        font-size: 15px;
        font-weight: 600;
    }

    .reqDoc {
        display: flex;

        .left {
            width: 60%;
        }

        .right {
            width: 40%;
        }
    }

    .reqDoc2 {
        display: flex;

        .left {
            width: 90%;
        }

        .right {
            width: 10%;

            img {
                width: 25% !important;
            }
        }
    }

    .arrow {
        width: 20%;
    }
}

.webcrowsel {
    display: block;
}

.mobilecrowsel {
    display: none;
}

.icon1 {
    width: 100%;
    height: 220px;
    margin-left: 42px;
}

.icon2 {
    width: 100%;
    height: 220px;
    margin-left: 42px;
}

.icon3 {
    width: 100%;
    height: 220px;
    margin-left: 42px;
}

.icon4 {
    width: 100%;
    height: 220px;
    margin-left: 42px;
}

.icon5 {
    width: 100%;
    height: 220px;
    margin-left: 42px;
}

.icon6 {
    width: 100%;
    height: 220px;
    margin-left: 42px;
}

.container-roadmap {
    max-width: 1170px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0px;
    text-align: left;

    p {
        font-size: 15px;
        font-weight: 100;
        color: #2A245B;
    }

    img {
        width: 50%;
    }

    .roadimg {
        text-align: center;
    }

    h2 {
        width: 50%;
    }
}

@media only screen and (min-width:360px) and (max-width:740px) {
    .icon1 {
        width: 60% !important;
        height: 220px !important;
        margin-left: 42px !important;
    }

    .icon2 {
        width: 83% !important;
        height: 186px !important;
        margin-left: 20px !important;
    }

    .icon3 {
        width: 100% !important;
        height: 140px !important;
        margin-left: 0px !important;
    }

    .icon4 {
        width: 76% !important;
        height: 150px !important;
        margin-left: 42px !important;
    }

    .icon5 {
        width: 68% !important;
        height: 174px !important;
        margin-left: 42px !important;
    }

    .icon6 {
        width: 65% !important;
        height: 207px !important;
        margin-left: 42px !important;
    }
}

@media screen and (max-width: 767px) {
    #hero {
        background-color: #E9E9FF;

        .content {
            padding-block: 3rem;
            padding-inline: 1.5rem;

            h1 {
                font-size: 2rem;
            }
        }

        .images {
            min-height: 50vh;

            img {
                width: calc(100% - 1.5rem);
            }
        }
    }

    .webcrowsel {
        display: none;
    }

    .mobilecrowsel {
        display: block;
    }

    .icon1 {
        width: 60%;
        height: 220px;
        margin-left: 42px;
    }

    .icon2 {
        width: 83%;
        height: 201px;
        margin-left: 20px;
    }

    .icon3 {
        width: 77%;
        height: 135px;
        margin-left: 25px;
    }

    .icon4 {
        width: 76%;
        height: 170px;
        margin-left: 42px;
    }

    .icon5 {
        width: 68%;
        height: 208px;
        margin-left: 42px;
    }

    .icon6 {
        width: 65%;
        height: 228px;
        margin-left: 42px;
    }

    .header36 {
        font-size: 36px !important;
    }
}

.price-container {
    position: relative;
    display: inline-block; // Allows positioning of the pseudo-element

    .price {
        font-size: 43px;
        font-weight: bold;
        font-family: 'Avenir-Regular' !important;
        color: $dark-blue;
        position: relative; // Position relative for the pseudo-element
        z-index: 2; // Ensure the text appears above the line

        &::after {
            content: ''; // Empty content for the line
            position: absolute;
            top: 50%; // Center vertically
            left: 50%; // Start from the center horizontally
            width: $line-length; // Set the width to increase the line length
            height: $line-height; // Thickness of the line
            background-color: $cross-color; // Color of the crossing line
            transform: rotate(349deg); // Rotate the line to 135 degrees
            transform-origin: center; // Rotate around its center
            z-index: 1; // Make sure the line appears below the text
            margin-left: -50%; // Center the line by moving left by half its width
        }
    }
}

.banner-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.banner-flex .banner-flex-left {
    width: 60%;
}

.banner-flex .banner-flex-left h1 {
    font-size: 70px;
    line-height: 70px;
    color: #2a245b;
    margin-bottom: 15px;
}

.banner-flex .banner-flex-left h1 span {
    color: #fff;
    position: relative;
}

.banner-flex .banner-flex-left h1 span::before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 312px;
    height: 22px;
    bottom: -10px;
    left: -19px;
    background-size: cover;
}

.banner-flex .banner-flex-left p {
    color: #000;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 30px;
}

.banner-flex .banner-flex-left .banner-button a {
    margin-right: 15px;
    text-decoration: none;
    color: #2a245b;
    font-size: 17px;
    font-weight: bold;
}

.banner-flex .banner-flex-right {
    width: 50%;
}

.banner-flex .banner-flex-right img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.reason-section {
    // text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reason-section h2 {
    margin-bottom: 0;
}

.reason-section h2 span {
    font-family: "Avenir-bold" !important;
    position: relative;
}

.reason-section h2 span::before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 22px;
    bottom: -7px;
    left: -235px;
    background-size: cover;
    z-index: -2;
}

.reason-section .button-image-container img {
    height: 30px;
    margin-left: 15px;
    position: absolute;
}

.reason-section .button-image-container {
    margin-bottom: 40px;
}

.article-section .container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
}

.container-two {
    width: 70%;
    margin-left: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.article-section h2 {
    margin-bottom: 0;
}

.container-three {
    width: 90%;

    img {
        width: 38%;
    }
}

.article-one h2 {
    max-width: 90%;
}

.article-one .article-one-flex {
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.article-two {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 48px;
    float: right;
}

.article-two .article-two-flex {
    display: flex;
    align-items: center;
    //margin-top: -35px;
}

.article-section .container-two .right {
    margin-right: 15px;
}

.section-three {
    text-align: center;
}

.section-three .section-three-img {
    width: 50%;
}

.record-section {
    background: #fff;
    color: #000;
    padding: 70px 50px;
    text-align: center;
    margin-top: -4px;
}

.record-section img {
    height: 150px;
}

.record-section h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.record-section h2 {
    color: #fff;
    font-size: 44px;
    margin-top: 0;
}

.record-section .black-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 150px;
}

.section-four {
    padding-top: 50px;
    padding-bottom: 50px;

}

.section-four .section-four-flex {
    display: flex;
    justify-content: space-between;
}

.section-four .section-four-flex {
    display: flex;
    justify-content: space-between;
}

.section-four .section-four-flex .four-flex-right img {
    width: 90%;
    height: 72%;
}

.section-four .section-four-flex .four-flex-left h2 {
    padding-top: 24px;
}

.section-four .section-four-flex .four-flex-left p {
    line-height: 30px;
    font-weight: 600;
    line-height: 22px;
}

.section-four .section-four-flex .four-flex-left .ata-bg {
    position: relative;
}

.section-four .section-four-flex .four-flex-left .ata-bg:before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 22px;
    bottom: -15px;
    left: -19px;
    background-size: cover;
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
    .banner-flex .banner-flex-left {
        width: 100% !important;
    }
}

@media only screen and (max-width:767px) {

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 0px;
        text-align: left;

        .reason-section h2 span {
            font-family: "Avenir-bold" !important;
            position: relative;
            font-size: 30px;
        }

        p {
            font-size: 15px;
            font-weight: 100;
            color: #2A245B;
        }

        img {
            width: 75%;
        }

        .whatdoc {
            width: 120% !important;
        }

        h2 {
            width: 100%;
        }
    }

    .pink-bg {
        font-size: 30px;
    }

    .container-roadmap {
        max-width: 1170px;
        margin: auto;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 0px;
        text-align: left;

        p {
            font-size: 15px;
            font-weight: 100;
            color: #2A245B;
        }

        img {
            width: 100%;
        }

        h2 {
            width: 84%;
        }
    }

    .banner-flex {
        display: block;
    }

    .banner-flex .banner-flex-left {
        width: 96%;
    }

    .banner-flex .banner-flex-left h1 {
        padding-left: 15px;
    }

    .banner-flex .banner-flex-left p {
        margin-bottom: 15px;
        padding-left: 15px;
        line-height: 21px;
        font-size: 15px;
    }

    .banner-button {
        padding-left: 15px;
    }

    .banner-button .btn {
        display: block;
        margin-bottom: 8px;
        width: 100px;
    }

    .banner-flex .banner-flex-right {
        width: 100%;
    }

    .article-section .container {
        display: block;
        width: 100%;
    }

    .article-section .container-new .btn {
        text-align: center;
    }

    .container-two {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .container-three {
        width: 100%;
        display: block;

        img {
            width: 88% !important;
        }
    }

    .section-four .section-four-flex {
        display: block;
    }

    .section-four .section-four-flex .four-flex-left {
        position: absolute;
        margin-top: -13%;
        width: 88%;
        padding-left: 4%;
    }

    .section-four .section-four-flex .four-flex-left h2 {
        padding-top: 0;
    }

    .section-four .section-four-flex .four-flex-right {
        width: 100%;
    }

    .section-four .section-four-flex .four-flex-right img {
        width: 100%;
    }

    #hero {
        margin-top: -40px;
        padding-top: 0;
        display: block;
        height: auto;
    }

    #hero .banner-flex .banner-flex-left h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .banner-flex .banner-flex-left h1 span::before {
        width: 175px;
    }

    .article-section h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .section-three .section-three-img {
        width: 75%;
    }

    .record-section {
        padding: 60px 15px;
    }

    .record-section h1 {
        font-size: 29px;
        margin-bottom: 10px;
        font-family: "Avenir-Regular" !important;
    }

    .record-section h2 {
        font-size: 28px;
    }

    .reason-section .black-flex {
        column-gap: 15px;
    }

    .reason-section .container-new {
        width: 69%;
        text-align: center;
    }

    .article-one h2 {
        max-width: 100%;
    }

    .article-one .article-one-flex {
        margin-top: 0;

        .right {
            img {
                width: 150px;
            }
        }
    }

    .article-two {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 48px;
    }

    .section-four .container-new {
        padding-left: 0;
        padding-right: 0;
    }

    .section-four .section-four-flex .four-flex-left h2 {
        padding-left: 15px;
    }

    .section-four .section-four-flex .four-flex-left p {
        padding-left: 15px;
        font-weight: 600;
        line-height: 22px;
    }

    .section-four .section-four-flex .four-flex-right img {
        position: relative;
        z-index: -99;
    }

    .capital-display {
        color: white;
        background-color: 2A245B;
        text-align: center;
        padding: 20px;
        font-weight: bold;

        h4 {
            margin: 10px;
        }
    }

    .capital-display span {
        font-family: "Avenir-bold" !important;
        font-size: 17px;
        vertical-align: top;
        display: inline-block;
        margin-top: 4px;
    }

    .capital-display .amount {
        font-family: "Avenir-bold" !important;
        font-size: 30px;
        font-weight: bold;
        margin: 0 10px;
    }

    .black-flex {
        column-gap: 15px;

        p {
            color: #2A245B;
        }
    }

    .stat-box p {
        color: #2A245B;
    }

    li {
        color: #2A245B;
        font-size: 15px;
    }

    .reqDoc2 {
        display: flex;

        .left {
            width: 80% !important;
        }

        .right {
            width: 20% !important;

            .img {
                width: 49% !important;
                padding-top: 63px;
            }
        }
    }
}

@media (min-width:360px) and (max-width:740px) {
    h2 {
        font-size: 30px;
    }

    .capital-display .amount {
        font-size: 25px;
    }
}


@media (min-width:768px) and (max-width:991px) {

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-flex .banner-flex-left {
        width: 60%;
    }

    .banner-flex .banner-flex-right {
        width: 40%;
    }

    .banner-flex .banner-flex-left h1 {
        font-size: 60px;
        line-height: 65px;
    }

    .banner-flex .banner-flex-left h1 span:before {
        width: 250px;
    }

    .article-one {
        max-width: 95%;
    }

    .article-two {
        width: 80%;
        margin-top: 30px;
        margin-bottom: 48px;
    }

    .container-three {
        width: 95%;
    }

    #hero {
        margin-top: -83px;
    }

    .four-flex-right {
        width: 50%;
    }

    .four-flex-right img {
        width: 100%;
        margin-top: 100px;
    }

    .section-four {
        padding-top: 0;
    }
}

@media (min-width:992px) and (max-width:1199px) {

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    // .container-new{
    //     max-width:900px;
    // }
    #hero {
        margin-top: -83px;
    }

}


.amount {
    animation: fade-in-out 2s ease-in-out infinite;
}

/* Animation */
@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}



.img-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}