<section class="hero" id="hero">
   <div class="container-new">
      <div class="banner-flex">
         <div class="banner-flex-left">
            <h1>All you need to know about ECF
            </h1>
            <p>Equity crowdfunding is an innovative approach to investing that's transforming the future of finance. For
               investors, ECF provides an avenue for the public, namely the retail investors to invest in deals that
               were previously accessible to the select few. In return, they acquire equity stakes in private businesses
               and could potentially earn a positive return on their investments. With the advent of ECF, retail
               investors can now invest alongside angel and sophisticated investors.</p>
            <p> One of the key benefits of equity crowdfunding is that it democratizes the world of investing by giving
               retail investors access to high-growth private businesses and pre-IPO startups, which were previously
               only available to a selected group of investors. At AtaPlus, our mission is to make these groundbreaking
               investment opportunities accessible to everyone. </p>
         </div>
         <!-- banner-flex-left -->
         <div class="banner-flex-right">
            <img src="../../assets/images/AtaPlus-48.png" alt="Hero Image">
         </div>
         <!-- banner-flex-right -->
      </div>
      <!-- banner-flex -->
   </div>
   <!-- container -->
</section>
<!-- <div class="section"> -->
<section id="reason" class="reason-section">
   <div class="container-new">
      <h2>Become an Investor</h2>
      <p>Investing with Ata Plus means becoming a driving force behind groundbreaking ideas, fostering innovation, and
         participating in the
         growth of dynamics startups. Start your investment journey today here with us.
      </p>
      <br>
      <h2>Why Invest with <span class="pink-bg"> Ata Plus? </span></h2>
      <br>
      <div class="webcrowsel" style="width: 100%; margin: 0 auto;">
         <web-carousel [items]="slides"></web-carousel>
      </div>
      <div class="mobilecrowsel" style="width: 100%; margin: 0 auto;text-align: center;">
         <mobile-carousel [slides]="slides"></mobile-carousel>
      </div>
   </div>
   <!-- container-->
</section>
<section id="articles" class="article-section">
   <div class="container-new">
      <div class="container-three">
         <div>
            <h2>Be a Smart Investor</h2>
            <p>The public needs to be a smart investor. Smart investors:</p>
            <ol>
               <li>diversify their money into different investment products</li>
               <li>understand what they invest in, and</li>
               <li>don't invest with companies or individuals that are not licensed or approved by the Securities
                  Commission (SC).</li>
            </ol>
            <p>
               Investors should be aware of scams from unauthorized individuals or companies.
               The SC has an Investor Alert List which is regularly updated.
               The list includes unauthorized websites, investment products, individuals,
               and companies that investors should be cautious about. It helps investors spot fraudulent investments.
            </p>
            <ol>
               <li>Investor alert list</li>
               <li>International Organisation of Securities Commissions (IOSCO) list</li>
            </ol>
            <p>
               The International Organisation of Securities Commissions (IOSCO) is an international body
               of the world's securities regulators. IOSCO also publishes alerts and warnings from
               securities regulators in relation to unauthorized persons or entities that do not comply
               with securities laws of the respective jurisdictions (firms which are not authorized
               to provide investment services in the jurisdiction which issued the alert or warning).
            </p>
            <button style="background-color: #2A245B;color: white;" class="btn">Be An Investor at Ata Plus</button>
         </div>
      </div>
   </div>
   <!-- container-->
</section>
<section id="reason" class="reason-section">
   <div class="container-new">
      <h2>Become an Issuers</h2>
      <h3>(Company to Raise Funds)</h3>
      <p>Start applying now to become an issuer and bring your business idea to life with Ata Plus</p>
      <br>
      <div class="webcrowsel" style="width: 100%; margin: 0 auto;">
         <web-carousel [items]="slides"></web-carousel>
      </div>
      <div class="mobilecrowsel" style="width: 100%; margin: 0 auto;text-align: center;">
         <mobile-carousel [slides]="slides"></mobile-carousel>
      </div>
   </div>
   <!-- container-->
</section>
<section id="articles" class="article-section">
   <div class="container-new">
      <div class="container-three">
         <div>
            <h2>What are the Required Documents</h2>
            <p>
               The following are the documents required to be submitted together with your online application:
            </p>
            <ol>
               <li>NRIC or Passport copy of Main Contact Person</li>
               <li>NRIC or Passport copy of Directors and Key Management Team</li>
               <li>
                  Certified True Copy of the Statutory Documents (eSSM Superform or M&A, Forms 9/13, 44, 24, 49)
               </li>
               <li>Business Plan</li>
               <li>Audited Accounts</li>
               <li>Management Accounts</li>
            </ol>
            <button style="background-color: #2A245B;color: white;" class="btn">Raise funds with Ata Plus</button>
         </div>
      </div>
   </div>
   <!-- container-->
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>