<section class="hero" id="hero">
   <div class="container-new">
      <div class="banner-flex">
         <div class="banner-flex-left">
            <h1>All you need to know about ECF
            </h1>
            <p>Equity crowdfunding is an innovative approach to investing that's transforming the future of finance. For
               investors, ECF provides an avenue for the public, namely the retail investors to invest in deals that
               were previously accessible to the select few. In return, they acquire equity stakes in private businesses
               and could potentially earn a positive return on their investments. With the advent of ECF, retail
               investors can now invest alongside angel and sophisticated investors.</p>
            <p> One of the key benefits of equity crowdfunding is that it democratizes the world of investing by giving
               retail investors access to high-growth private businesses and pre-IPO startups, which were previously
               only available to a selected group of investors. At AtaPlus, our mission is to make these groundbreaking
               investment opportunities accessible to everyone. </p>
         </div>
         <!-- banner-flex-left -->
         <div class="banner-flex-right">
            <img src="../../assets/images/AtaPlus-48.png" alt="Hero Image">
         </div>
         <!-- banner-flex-right -->
      </div>
      <!-- banner-flex -->
   </div>
   <!-- container -->
</section>
<!-- <div class="section"> -->
<section id="reason" class="reason-section">
   <div class="container-new">
      <h2>Become an Investor</h2>
      <p>Investing with Ata Plus means becoming a driving force behind groundbreaking ideas, fostering innovation, and
         participating in the
         growth of dynamics startups. Start your investment journey today here with us.
      </p>
      <br>
      <h2>Why Invest with <span class="pink-bg"> Ata Plus? </span></h2>
      <br>
      <div class="webcrowsel" style="width: 100%; margin: 0 auto;">
         <web-carousel [items]="slides"></web-carousel>
      </div>
      <div class="mobilecrowsel" style="width: 100%; margin: 0 auto;text-align: center;">
         <mobile-carousel [slides]="slides"></mobile-carousel>
      </div>
   </div>
   <!-- container-->
</section>
<section id="articles" class="article-section">
   <div class="container-new">

      <div class="article-one">
         <h2>Dive deep into the campaign & do solid research</h2>
         <div class="article-one-flex">
            <div class="left">
               <p>Understand the business, make smart decisions and steer clear of anything too risky.</p>
               <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
            </div>
            <div class="right">
               <img src="../../../../assets/images/Divedepp.png">
            </div>
         </div>
      </div><!-- article-one -->
      <!-- article-two -->
      <div class="article-two">
         <h2>Invest Wisely</h2>
         <div class="article-two-flex">
            <div class="right">
               <img src="../../../../assets/images/Invest wisely01.png">
            </div>
            <div class="left">
               <p>Make informed financial chocies to ensure alignment with individual financial goals through prudent
                  and strategic investment decision.</p>
               <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
            </div>
         </div> <!-- article-two-flex -->
      </div>
      <!-- article-two -->
      <div style="clear: both;"></div>
      <!-- <div class="container-two">
        <div class="right">
           <img src="../../../../assets/images/Invest wisely01.png">
        </div>
        <div class="left">
           <h2>Invest Wisely</h2>
           <p>Make informed financial chocies to ensure alignment with individual financial goals through prudent and strategic investment decision.</p>
           <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
        </div>
     </div> -->
      <div class="container-three">
         <div>
            <h2>Looking to scale your business? Tell us more</h2>
            <p>As the world's leading equitl crowdfunding platform, we help brands build amazing communities and raise
               funds to
               grow their business. If you want to grow your community, then apply to raise with us or read on to find
               out
               more
            </p>
            <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
         </div>
         <div>
            <img style="width: 100%;" class="section-three-img" src="../../../../assets/images/AtaPlus-12.png">
         </div>
      </div>
   </div>
   <!-- container-->
</section>
<section style="display: none;" id="" class="section-three">
   <div class="container-new">
      <img class="section-three-img" src="../../../../assets/images/AtaPlus-12.png">
   </div>
   <!-- container-->
</section>
<div class="record-section">
   <div class="container-new">
      <img src="../../../../assets/images/Ata Plus white logo_vertical.png">
      <h1> Own Track Records</h1>
      <div class="capital-display">
         <h4>Capital Raised for Issuers</h4>
         <span>RM</span>
         <span class="amount" *ngFor="let num of [currentNumber]">{{currentNumber | number: '1.0-0'}}</span>
         <span>mil</span>
      </div>
      <div class="stats-container">
         <div class="stat-box">
            <span class="number">10<span class="small">k</span></span>
            <p>Potential Investors</p>
         </div>
         <div class="stat-box">
            <span class="number">70<span class="small">+</span></span>
            <p>Campaign Completed</p>
         </div>
      </div>
      <!-- black-flex -->
   </div>
</div>
<!-- record-section -->
<section id="" class="section-four">
   <div class="container-new">
      <div class="section-four-flex">
         <div class="four-flex-left">
            <h2>Who is <span class="ata-bg">AtaPlus</span> <img src="../../../../assets/images/question-mark.png"> </h2>
            <p>We are pioneers in Malaysia's regulated Online Equity Crowdfunding. We are committed to promote financial
               inclusion in the new economy and dedicated to making financial opportunities and benefits available and
               accessible to all walks of life - be it investors or businesses. We are firm believers that matching
               capital with exciting businesses isn't just a transaction - it's a powerful force for positive social and
               economic transformation.
            </p>
         </div>
         <div class="four-flex-right">
            <img src="../../../../assets/images/whoisAtaPlus_bg.png">
         </div>
      </div>
      <!-- section-four-flex -->
   </div>
</section>
<!-- section-four -->
<!-- </div> -->