.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 21px;
  padding: 33px;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.transition {
  transform: translateX(-100%);
}

@media (min-width:360px) and (max-width:740px) {
  .icon1 {
    width: 60%;
    height: 220px;
    margin-left: 42px;
  }

  .icon2 {
    width: 83%;
    height: 186px !important;
    margin-left: 20px;
  }

  .icon3 {
    width: 100%;
    height: 140px !important;
    margin-left: 25px;
  }
}

@media only screen and (max-width:767px) {
  .description {
    font-size: 14px;
    font-weight: bold;
    color: #2A245B
  }

  .icon1 {
    width: 60%;
    height: 220px;
    margin-left: 42px;
  }

  .icon2 {
    width: 83%;
    height: 201px;
    margin-left: 20px;
  }

  .icon3 {
    width: 100%;
    height: 156px;
    margin-left: 25px;
  }

  .slider {
    box-shadow: 10px 10px 20px #0000004d;
    transition: transform .3s ease;
  }
}