<div [class.transition]="isTransitioning" class="slider" (mousedown)="startSwipe($event)" (mouseup)="endSwipe($event)"
    (touchstart)="startSwipe($event)" (touchend)="endSwipe($event)">
    <div style="display: none;">
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <ng-content></ng-content>
</div>
<br>
<div class="dotsContainer">
    <div [ngStyle]="{'color': currentIndex === slideIndex ? '#da1197' : '#2A245B'}"
        *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">
        ●
    </div>
</div>