<div [class.transition]="isTransitioning" class="slider" (mousedown)="startSwipe($event)" (mouseup)="endSwipe($event)"
    (touchstart)="startSwipe($event)" (touchend)="endSwipe($event)">
    <div style="display: none;">
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div class="slide-container">
        <div class="slide {{obj().class}}" [ngStyle]="{ 'background-image': getCurrentSlideUrl(currentIndex) }"></div>
    </div>
    <div [innerHTML]="obj().title"
        style="font-family: Avenir-bold !important; color: #2A245B; font-size: 25px; padding-top: 15px;">
    </div>
    <p class="description">{{obj().descption}}</p>
</div>
<br>
<div class="dotsContainer">
    <div [ngStyle]="{'color': currentIndex === slideIndex ? '#da1197' : '#2A245B'}"
        *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">
        ●
    </div>
</div>