<div class="signup-success">
    <img src="../../../../assets/images/complete.png" alt="Logo" class="logo">
    <h1 class="header">Sign Up Successful!</h1>
    <p class="message">Congratulations! You have signed up successfully.</p>
    <p class="otp-message">An OTP has been sent to your mobile number. Please enter it below:</p>
    <div class="otp-input-section">
        <input type="text" placeholder="Enter OTP" class="otp-textbox">
        <button class="submit-button">Submit</button>
    </div>
</div>