<section class="hero" id="hero">
   <div class="container-new">
      <div class="banner-flex">
         <div class="banner-flex-left">
            <h1>Invest with a
               peace in mind
               with <span> Ata Plus</span>
            </h1>
            <p> Own a piece of the business that you care and let your money work for you </p>
            <div class="banner-button">
               <a class="btn" href="">Invest in ECF</a>
               <a class="btn" href="">Raise Capital</a>
            </div>
         </div>
         <!-- banner-flex-left -->
         <div class="banner-flex-right">
            <!-- <img src="../../assets/images/header-img.png" alt="Hero Image"> -->
         </div>
         <!-- banner-flex-right -->
      </div>
      <!-- banner-flex -->
   </div>
   <!-- container -->
</section>
<!-- <div class="section"> -->
<section id="reason" class="reason-section">
   <div class="container-new">
      <h2>Find a <span class="pink-bg"> business </span>that interest you</h2>
      <p>Take a look at some of out ongoing campaigns and see if there are any that catch your eye</p>
      <div class="button-image-container">
         <button style="background-color: #2A245B;color: white;" class="btn">Get Started</button>
         <img src="../../../../assets/images/AtaPlus-06.png">
      </div>
      <br>
      <div class="webcrowsel" style="width: 100%; margin: 0 auto;">
         <app-carousel [items]="slides"></app-carousel>
      </div>
      <div class="mobilecrowsel" style="width: 100%; margin: 0 auto;text-align: center;">
         <image-slider [slides]="slides"></image-slider>
      </div>
   </div>
   <!-- container-->
</section>
<section id="articles" class="article-section">
   <div class="container-new">

      <div class="article-one">
         <h2>Dive deep into the campaign & do solid research</h2>
         <div class="article-one-flex">
            <div class="left">
               <p>Understand the business, make smart decisions and steer clear of anything too risky.</p>
               <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
            </div>
            <div class="right">
               <img src="../../../../assets/images/Divedepp.png">
            </div>
         </div>
      </div><!-- article-one -->
      <!-- article-two -->
      <div class="article-two">
         <h2>Invest Wisely</h2>
         <div class="article-two-flex">
            <div class="right">
               <img src="../../../../assets/images/Invest wisely01.png">
            </div>
            <div class="left">
               <p>Make informed financial chocies to ensure alignment with individual financial goals through prudent
                  and strategic investment decision.</p>
               <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
            </div>
         </div> <!-- article-two-flex -->
      </div>
      <!-- article-two -->
      <div style="clear: both;"></div>
      <!-- <div class="container-two">
        <div class="right">
           <img src="../../../../assets/images/Invest wisely01.png">
        </div>
        <div class="left">
           <h2>Invest Wisely</h2>
           <p>Make informed financial chocies to ensure alignment with individual financial goals through prudent and strategic investment decision.</p>
           <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
        </div>
     </div> -->
      <div class="container-three">
         <div>
            <h2>Looking to scale your business? Tell us more</h2>
            <p>As the world's leading equitl crowdfunding platform, we help brands build amazing communities and raise
               funds to
               grow their business. If you want to grow your community, then apply to raise with us or read on to find
               out
               more
            </p>
            <button style="background-color: #E31997;color: white;" class="btn">Learn More</button>
         </div>
         <div>
            <img style="width: 100%;" class="section-three-img" src="../../../../assets/images/AtaPlus-12.png">
         </div>
      </div>
   </div>
   <!-- container-->
</section>
<section style="display: none;" id="" class="section-three">
   <div class="container-new">
      <img class="section-three-img" src="../../../../assets/images/AtaPlus-12.png">
   </div>
   <!-- container-->
</section>
<div class="record-section">
   <div class="container-new">
      <img src="../../../../assets/images/Ata Plus white logo_vertical.png">
      <h1> Own Track Records</h1>
      <h4>Capital Raised for Issuers</h4>
      <div class="capital-display">
         <span>RM</span>
         <span class="amount">88,605,955</span>
         <span>mil</span>
      </div>
      <div class="stats-container">
         <div class="stat-box">
            <span class="number">10<span class="small">k</span></span>
            <p>Potential Investors</p>
         </div>
         <div class="stat-box">
            <span class="number">70<span class="small">+</span></span>
            <p>Campaign Completed</p>
         </div>
      </div>
      <!-- black-flex -->
   </div>
</div>
<!-- record-section -->
<section id="" class="section-four">
   <div class="container-new">
      <div class="section-four-flex">
         <div class="four-flex-left">
            <h2>Who is <span class="ata-bg">AtaPlus</span> <img src="../../../../assets/images/question-mark.png"> </h2>
            <p>We are pioneers in Malaysia's regulated Online Equity Crowdfunding. We are committed to promote financial
               inclusion in the new economy and dedicated to making financial opportunities and benefits available and
               accessible to all walks of life - be it investors or businesses. We are firm believers that matching
               capital with exciting businesses isn't just a transaction - it's a powerful force for positive social and
               economic transformation.
            </p>
         </div>
         <div class="four-flex-right">
            <img src="../../../../assets/images/whoisAtaPlus_bg.png">
         </div>
      </div>
      <!-- section-four-flex -->
   </div>
</section>
<!-- section-four -->
<!-- </div> -->