$dark-blue: #2A245B;
$cross-color: #2A245B;
$line-height: 2px;
$line-length: 120%;

h2 {
    font-family: 'Avenir-bold' !important;
    color: $dark-blue;
    font-weight: 700;
    font-size: 43px;
}

// section {
//     min-height: 70vh;
//     transition: 1s;

//     .divs {
//         width: 250px;
//     }

//     &.section {
//         background-size: cover;
//         background-position: top;
//     }
// }

.header,
.header2 {
    padding-block: 20px;
    padding-inline: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    &.header2 {
        background-color: white;
    }
}

#hero {
    background-image: url('../../../../assets/images/ataplusDesktop.png');
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
    margin-top: -85px;
    padding-bottom: 150px;
    padding-top: 50px;
}

.container-new {
    max-width: 85%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;

    p {
        font-size: 22px;
        font-weight: 600;
    }
}

.webcrowsel {
    display: block;
}

.mobilecrowsel {
    display: none;
}

// #reason {
//     padding-inline: 16rem 25rem;
//     padding-block: 5rem;
//     min-height: calc(100vh - 0rem);
//     text-align: center;

//     .button-image-container {
//         display: flex;
//         align-items: center;
//         gap: 10px;

//         img {
//             margin-left: 0;
//         }
//     }
//     p {
//         line-height: 1.1rem;
//         font-size: 15px;
//         margin-left: 30px;
//         font-weight: 600;
//     }

//     .reason {
//         &-list {
//             margin-top: 5rem;
//             display: grid;
//             grid-template-columns: repeat(4, calc(39% + 0.5rem));
//             gap: 0;
//         }

//         &-item {
//             opacity: 0.9;
//         }
//     }
// }


// #articles {
//     padding-inline: 30rem;
//     padding-block: 5rem;

//     .container {
//         display: flex;
//         width: 100%;
//     }

//     .left {
//         flex: 7;
//         font-weight: bold;
//         padding: 10px;
//     }

//     .right {
//         flex: 3;
//         width: 50%;
//         padding: 10px;
//     }

//     p {
//         color: $dark-blue;
//     }

//     h2 {
//         font-size: 3rem;
//         font-weight: 400;
//         color: $dark-blue;
//         margin-block: 0;
//     }

//     .article-list {
//         display: grid;
//         grid-template-columns: repeat(4, calc(25% - 1.5rem));
//         gap: 2rem;
//         margin-top: 5rem;

//         &-item {
//             width: 100%;
//         }
//     }
// }

// // Media Queries
// @media screen and (max-aspect-ratio: 1) {
//     section {
//         opacity: 1;
//     }

//     #hero {
//         padding-inline: 0;
//         display: flex;

//         .content {
//             padding: 2rem;
//             text-align: center;

//             h1 {
//                 font-size: 3rem;
//             }
//         }

//         .images {
//             height: unset;
//             min-height: 70vh;

//             img {
//                 top: unset;
//                 bottom: 0;
//                 left: 50%;
//                 transform: translate(-50%);
//                 width: calc(100% - 2rem);
//                 height: 125%;
//             }
//         }
//     }

//     #reason {
//         padding-block: 4rem;
//         padding-inline: 2rem;
//         text-align: center;

//         h2 {
//             font-size: 3rem;
//             font-weight: 400;
//             color: $dark-blue;
//             margin-block: 0;
//         }

//         .reason {
//             &-list {
//                 margin-top: 2rem;
//                 grid-template-columns: repeat(2, calc(50% - 1rem));
//             }
//         }
//     }
// }

@media screen and (max-width: 767px) {
    #hero {
        background-image: url('../../../../assets/images/AtaPlus_main_cover.png');

        .content {
            padding-block: 3rem;
            padding-inline: 1.5rem;

            h1 {
                font-size: 2rem;
            }
        }

        .images {
            min-height: 50vh;

            img {
                width: calc(100% - 1.5rem);
            }
        }
    }

    .webcrowsel {
        display: none;
    }

    .mobilecrowsel {
        display: block;
    }
}

.price-container {
    position: relative;
    display: inline-block; // Allows positioning of the pseudo-element

    .price {
        font-size: 43px;
        font-weight: bold;
        font-family: 'Avenir-Regular' !important;
        color: $dark-blue;
        position: relative; // Position relative for the pseudo-element
        z-index: 2; // Ensure the text appears above the line

        &::after {
            content: ''; // Empty content for the line
            position: absolute;
            top: 50%; // Center vertically
            left: 50%; // Start from the center horizontally
            width: $line-length; // Set the width to increase the line length
            height: $line-height; // Thickness of the line
            background-color: $cross-color; // Color of the crossing line
            transform: rotate(349deg); // Rotate the line to 135 degrees
            transform-origin: center; // Rotate around its center
            z-index: 1; // Make sure the line appears below the text
            margin-left: -50%; // Center the line by moving left by half its width
        }
    }
}

.banner-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.banner-flex .banner-flex-left {
    width: 60%;
}

.banner-flex .banner-flex-left h1 {
    font-size: 70px;
    line-height: 70px;
    color: #2a245b;
    margin-bottom: 15px;
}

.banner-flex .banner-flex-left h1 span {
    color: #fff;
    position: relative;
}

.banner-flex .banner-flex-left h1 span::before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 312px;
    height: 22px;
    bottom: -10px;
    left: -19px;
    background-size: cover;
}

.banner-flex .banner-flex-left p {
    color: #000;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.banner-flex .banner-flex-left .banner-button a {
    margin-right: 15px;
    text-decoration: none;
    color: #2a245b;
    font-size: 17px;
    font-weight: bold;
}

.banner-flex .banner-flex-right {
    width: 50%;
}

.banner-flex .banner-flex-right img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.reason-section {
    // text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reason-section h2 {
    margin-bottom: 0;
}

.reason-section h2 span {
    font-family: "Avenir-bold" !important;
    position: relative;
}

.reason-section h2 span::before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 22px;
    bottom: -7px;
    left: 0;
    background-size: cover;
    z-index: -2;
}

.reason-section .slide {
    height: 250px !important;
}

.reason-section .button-image-container img {
    height: 30px;
    margin-left: 15px;
    position: absolute;
}

.reason-section .button-image-container {
    margin-bottom: 40px;
}

.article-section .container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
}

.container-two {
    width: 70%;
    margin-left: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.article-section h2 {
    margin-bottom: 0;
}

.container-three {
    width: 90%;
    display: flex;
}

.article-one h2 {
    max-width: 90%;
}

.article-one .article-one-flex {
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.article-two {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 48px;
    float: right;
}

.article-two .article-two-flex {
    display: flex;
    align-items: center;
    //margin-top: -35px;
}

.article-section .container-two .right {
    margin-right: 15px;
}

.section-three {
    text-align: center;
}

.section-three .section-three-img {
    width: 50%;
}

.record-section {
    background: #000;
    color: #fff;
    padding: 70px 50px;
    text-align: center;
    margin-top: -4px;
}

.record-section img {
    height: 150px;
}

.record-section h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.record-section h2 {
    color: #fff;
    font-size: 44px;
    margin-top: 0;
}

.record-section .black-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 150px;
}

.section-four {
    padding-top: 50px;
    padding-bottom: 50px;

}

.section-four .section-four-flex {
    display: flex;
    justify-content: space-between;
}

.section-four .section-four-flex .four-flex-left {
    width: 50%;
}

.section-four .section-four-flex .four-flex-left h2 {
    padding-top: 20px;
}

.section-four .section-four-flex .four-flex-left p {
    line-height: 30px;
    font-weight: 600;
    line-height: 22px;
}

.section-four .section-four-flex .four-flex-left .ata-bg {
    position: relative;
}

.section-four .section-four-flex .four-flex-left .ata-bg:before {
    content: '';
    position: absolute;
    background: url(../../../../assets/images/AtaPlus-04.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 22px;
    bottom: -15px;
    left: -19px;
    background-size: cover;
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
    .banner-flex .banner-flex-left {
        width: 100% !important;
    }
}

@media only screen and (max-width:767px) {

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 0px;

        p {
            font-size: 15px;
            font-weight: bold;
            color: #2A245B;
        }
    }

    .banner-flex {
        display: block;
    }

    .banner-flex .banner-flex-left {
        width: 96%;
    }

    .banner-flex .banner-flex-left h1 {
        padding-left: 15px;
    }

    .banner-flex .banner-flex-left p {
        margin-bottom: 15px;
        padding-left: 15px;
        font-weight: 700;
        line-height: 21px;
        font-size: 16px;
    }

    .banner-button {
        padding-left: 15px;
    }

    .banner-button .btn {
        display: block;
        margin-bottom: 8px;
        width: 100px;
    }

    .banner-flex .banner-flex-right {
        width: 100%;
    }

    .article-section .container {
        display: block;
        width: 100%;
    }

    .container-two {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .container-three {
        width: 100%;
        display: block;
    }

    .section-four .section-four-flex {
        display: block;
    }

    .section-four .section-four-flex .four-flex-left {
        width: 100%;
    }

    .section-four .section-four-flex .four-flex-left h2 {
        padding-top: 0;
    }

    .section-four .section-four-flex .four-flex-right {
        width: 100%;
    }

    .section-four .section-four-flex .four-flex-right img {
        width: 100%;
    }

    #hero {
        margin-top: -65px;
        padding-top: 0;
        display: block;
        height: 700px;
    }

    #hero .banner-flex .banner-flex-left h1 {
        font-size: 40px;
        line-height: 42px;
    }

    .banner-flex .banner-flex-left h1 span::before {
        width: 175px;
    }

    .article-section h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .section-three .section-three-img {
        width: 75%;
    }

    .record-section {
        padding: 60px 15px;

    }

    .record-section h1 {
        font-size: 30px;
    }

    .record-section h2 {
        font-size: 28px;
    }

    .reason-section .black-flex {
        column-gap: 15px;
    }

    .article-one h2 {
        max-width: 100%;
    }

    .article-one .article-one-flex {
        margin-top: 0;

        .right {
            img {
                width: 150px;
            }
        }
    }

    .article-two {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 48px;
    }

    .section-four .container-new {
        padding-left: 0;
        padding-right: 0;
    }

    .section-four .section-four-flex .four-flex-left h2 {
        padding-left: 15px;
    }

    .section-four .section-four-flex .four-flex-left p {
        padding-left: 15px;
        font-weight: 600;
        line-height: 22px;
    }

    .section-four .section-four-flex .four-flex-right img {
        position: relative;
        z-index: -99;
    }


}



@media (min-width:768px) and (max-width:991px) {

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-flex .banner-flex-left {
        width: 60%;
    }

    .banner-flex .banner-flex-right {
        width: 40%;
    }

    .banner-flex .banner-flex-left h1 {

        font-size: 60px;
        line-height: 65px;

    }

    .banner-flex .banner-flex-left h1 span:before {
        width: 250px;
    }

    .article-one {
        max-width: 95%;
    }

    .article-two {
        width: 80%;
        margin-top: 30px;
        margin-bottom: 48px;
    }

    .container-three {
        width: 95%;
    }

    #hero {
        margin-top: -83px;
    }

    .four-flex-right {
        width: 50%;
    }

    .four-flex-right img {
        width: 100%;
        margin-top: 100px;
    }

    .section-four {
        padding-top: 0;
    }

}

@media (min-width:992px) and (max-width:1199px) {

    .container-new {
        max-width: 1170px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    // .container-new{
    //     max-width:900px;
    // }
    #hero {
        margin-top: -83px;
    }

}