.slide {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 100%;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}


@media only screen and (max-width:767px) {
  .description {
    font-size: 14px;
    font-weight: bold;
    color: #2A245B
  }
}