<div class="slider">
    <div style="display: none;">
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
    <div style=" font-family: Avenir-bold !important;  color: #2A245B;font-size: 25px;padding-top: 15px;    ">
        {{obj().title}}</div>
    <span style="font-style: italic;color: #2A245B">{{obj().subtitle}}</span>
    <br>
    <br>
    <span style=" font-family: Avenir-bold !important;  color: #2A245B;font-size: 20px;margin-bottom: 10px;">Min Target:
        RM{{obj().min}}</span><br>
    <span style=" font-family: Avenir-regular !important;  color: #2A245B;">Raised: RM{{obj().raised}}</span><br/>
    <img src="../../../../../assets/images/loading.png">
    <p style="color: #2A245B">{{obj().descption}}</p>
    <button style="background-color: #2A245B;color: white;" class="btn">Explore</button>
    <br>
    <br>
    <div class="dotsContainer">
        <div [ngStyle]="{'color': currentIndex === slideIndex ? '#da1197' : '#2A245B'}"
            *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">
            ●
        </div>
    </div>
    <p style="color: #2A245B;text-decoration: underline;font-style: italic;font-weight: 600;">View all campaign</p>

</div>